<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321234844705-7l7328fnklg1sknb2ursksqji1mso1f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321234844705-7l7328fnklg1sknb2ursksqji1mso1f6</string>
	<key>API_KEY</key>
	<string>AIzaSyCNY-mjGe2hTSHmy_QEJhpUzf-HXxWG0VA</string>
	<key>GCM_SENDER_ID</key>
	<string>321234844705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.SwiftUIChatApp</string>
	<key>PROJECT_ID</key>
	<string>differenzchatapp-4c2a8</string>
	<key>STORAGE_BUCKET</key>
	<string>differenzchatapp-4c2a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321234844705:ios:a0223ed06ee9c0db9eb760</string>
	<key>DATABASE_URL</key>
	<string>https://differenzchatapp-4c2a8.firebaseio.com</string>
</dict>
</plist>